.card-body{
    width: 22rem;
    height: auto;
    min-height: 24rem;
    border-radius: 10px;
    background-color: rgb(233, 237, 249);
    margin-left: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header{
    height: 1rem;
    margin-top: 0;
    align-content: center;
}
.card-info{
    text-align: center;
    font-size: 0.9rem;
}

.card-img{
    width: 10rem;
    margin-top: 0.5rem;
}
